@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');


body {
    margin: 0;
    padding: 0;

}

header {
    background-color: white;
    height: 100px;
}

#titreLogo {
    font-size: 40px;
    position: relative;
    margin-left: 2%;
    left: 200px;
    font-family: 'Aladin', Arial, Helvetica, sans-serif;
}

#logo {
    width: 50px;
    position: absolute;
    top: 18px;
    left: 23%;
}

header #titreLogo {
    float: left;
}

header #navbar {
    float: right;
    margin-right: 17%;
    z-index: 1000;

}

#navbar a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;

}

#navbar ul {
    list-style-type: none;

}

#navbar li {
    display: inline-block;
    margin-right: 4em;
    margin-top: 4%;

}



h2 {
    font-size: 125px;
    text-align: center;
}
main{
    margin: 0;
}
#photoAccueil{
   height: 55em;
   width: 100%;
   opacity: 0.8;
   position: relative;
}

h2{
position: absolute;

left: 5.5em;

}