@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

body {
    margin: 0;
    padding: 0;


}

header {
    position: relative;
    height: 100vh;
    background-image: url(images/photoaccueil.jpg);
    background-size: cover;

}


/*Div qui me permet d'avoir la transparence qui sépare ma barre de nav et mon image d'accueil*/
#transparence {
    background-color: #dce3f415;
    height: 6em;
}

/*Correspond à mon titre de logo "Travel Agency"*/
#titreLogo {
    font-size: 40px;
    position: relative;
    margin-left: 2%;
    left: 5%;
    font-family: 'Aladin', Arial, Helvetica, sans-serif;
    color: white;
}

/*Logo palmier */
#logo {
    width: 50px;
    position: absolute;
    top: 18px;
  left: 20%;
}

/*Cible mon logo "Travel Agency" qui est à l'intérieur du header*/
header #titreLogo {
    float: left;
}

/*Cible ma barre de naviguation qui est à l'intérieur de mon header */
header #navbar {
    float: right;
    margin-right: 14%;

}

/*Cible les liens de ma barre de naviguation ( Accueil, destinations, contact)*/
#navbar a {
    text-decoration: none;
    color: #cedada;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;

}

/*Permet d'enlever les puces de mes listes présent dans ma barre de nav*/
#navbar ul {
    list-style-type: none;

}

/*Permet de mettre mes li sur la même ligne et les espacer de la droite et du haut de l'écran*/
#navbar li {
    display: inline-block;
    margin-right: 3em;
    margin-top: 4%;

}

#intro {
    font-size: 3.5em;
    text-align: center;
    position: relative;
   top: 2em;
    font-family: 'Bubblegum Sans', sans-serif;
    color: #161f2d;
}

/*Ecran pc portable largeur de 153px*/
@media only screen and (max-width: 1536px) {
    #titreLogo {
        font-size: 30px;
        margin-left: 5%;
        top: 10%;
    }

    #logo {
        width: 50px;
        margin-left: 1.8em;

        
    }

    header #navbar {
        margin-right: 14%;
    }

    #navbar li {
        margin-right: 2.5em;
    }
    #intro{
        margin-top: 0.2em;
    }

}

@media only screen and (max-width: 1920px) {
    #titreLogo {
        font-size: 30px;
        margin-left: 5%;
        top: 10%;
    }
    #logo{
        left: 18%;
    }
    
}